 * {margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-color: rgb(240, 240, 227);
    font-family: 'Lucida Sans'; 
}

header {
    height: 15vh;
    background-color: rgb(124, 156, 152);
}

#Logo {
    height: 15vh;
    background-color: rgb(124, 156, 152);
}

h1 {
    color: white;
    font-family: 'Lucida Sans';
    font-size: 5rem;
}

#main {
    height: 80vh;
}


aside {
    background-image: linear-gradient(to bottom,  rgb(240, 240, 227) ,rgb(124, 156, 152));
}

footer {
    background-color: rgb(124, 156, 152);
    height: 5vh;
}

#Instagram {
    height: 4vh;
    background-color: rgb(124, 156, 152);
}

.imagenes {
    height: 350px;
    width: 250px;
    border: solid 5px  rgb(124, 156, 152);
    margin: 50px;
    margin-bottom: 20px;
    display: inline;
}

.imagenes:hover {
    transform: scale(1.2);
}

.laminas {
    height: 300px;
    width: 200px;
    margin: 5px;
    border: solid 5px  rgb(124, 156, 152);
}

.laminas:hover {
    transform: scale(1.1);
}

.dropdown-menu {
    background-color:  rgb(240, 240, 227)
}

.accordion-item {
    background-color: rgb(240, 240, 227);
}

.accordion-button {
    background-color: rgb(241, 241, 241);
    border: solid 0.5px  rgb(124, 156, 152);
}

.btn:hover {
    transform: scale(1.3);
}





/* 

.SectionLaminas {
    background-color: rgb(224, 224, 191);
    color: black;
    font-size: 1.1rem;
    padding: 20px;
    margin-left: 5px;
    display: inline-block;
    width: 10%;
    height: 170vh;
    line-height: 30px;
}


fieldset {
    background-color: rgb(224, 224, 191);
    width: 600px;
    height: 600px;
    position: relative;
    top: 10px;
    right: 30px;
    left: 380px;
    bottom: 10px;
}

#enviar {
    position: relative;
    top: 40px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}



.aside__div__ul {
    text-align: center;
    line-height: 3;
    margin: 10px;
    list-style-type: none;
} */

/* .aside__div {
    background-color: rgb(224, 224, 191);
    width: 500px;
    height: 350px;
    display: inline-block;
    padding-top: 20px;
} */

/* .enlaces {
    margin-left: 100px;
    margin-right: 100px;
} */