*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: $background-principal;
    font-family: 'Times New Roman'; 
}
body::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar-thumb{
    background-color: $background-secundario;
}